@model LoginViewModel
@{
    ViewData["Title"] = "LogIn";
}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                        <form class="form-signin" role="form" asp-action="Login" asp-controller="Account" method="post">
                            <div class="form-label-group">
                                <input type="text" id="UserName" name="UserName"  autocomplete="off" class="form-control" placeholder="User Name"  required autofocus>
                                <label for="UserName">User Name</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword" name="Password" class="form-control" placeholder="Password"  required>
                                <label for="inputPassword">Password</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" value="Login" type="submit">Sign in</button>
                        </form>
                </div>
            </div>
        </div>
    </div>