@{
    ViewData["Title"] = "Home";
}

    <p>
        <br />
        <br />
        <b>Please use login link right corner and you follow below UAC</b> <br />
        <hr />
        Leave Approval Workflow via Email
        <hr />
        <br />
        Requirements:<br /><br />

        1. Employee should have an ability to create a leave request  <br />
        -- Please use <b>Eployee id : noushinmulla </b> and creadtials shared in email <br />
        2. The request should be routed to the employee's manager as configured in the tool  <br />
        --Please use <b>Manager id : saleemmulla</b> and creadtials shared in email <br />
        3. Manager should be able to approve or reject the request with comments via email   <br />
        -- Yes , please have a look document for scenario tested <br />
        4. Employee should get notified based on the manager's action  <br />
        -- Yes , please have a look document for scenario tested
        <hr />
        Programming Language: Any programming language of your choice
        <br />
        1. C# <br />
        2 .NET Core
        <br />
        Database: database of your choice <br />
        . SQL Server script shared within project SQL Sscript folder
        
        Guidelines:<br />
        <hr />
        Use good design principles<br />
        Best coding practices<br />
        Unit Tests<br />
    </p>